@import url("https://fonts.googleapis.com/css?family=Barlow");

:root {
  --background-color: #fafafa;
  --body-bg-color: #fafafa;
  --commonbg: #f2f2f2;
  --common-color: hsl(173, 52%, 53%);
  --common-font: "Futura LT", sans-serif;
  --text: #727171;
  --lable: #424242;
  --border-container: #e8e8e8;
  --list-item: #f2f2f2;
  --bodycolor: #cdd7ea;
  --lablecolor: #424242;
  --common-bgClr: #ffffff;
  --common-pera-fontcolor: #828282;
  --commonbuttoncolor: #49c5b6;
  // --common-tablecolor:#ffffff;
  --divider-border: #f4f3f3;
  --staticbox-color: #4f4f4f;
  --collapse-back: #fffefe;
  --approved: #27ae60;
  --rejected: #eb5757;
  --pending: #f2c94c;
  --list-border: #d9d9d9;
  --btn_primary_bg: #2c4a6c;
  --btn_primary_border_color: #2c4a6c;
  --login_link_color: #2c4a6c;
  --primary_color: #292462;
  --family_font: "Barlow", sans-serif;
  --subcolor: #e0ecfb;
  --paymentPanel: #fdfdfd;
  --bs-btn-disabled-opacity: "1";
  --discription: #404041;
  --danger: #dc3545;
  --diablebackground: #f5f5f5;
  --stepperBg: #ecebef;
  --setpperclr: #dad8e1;
  --setpperbgclr: #fafafa;
  --dashedclr: #e7e5ed;
  --panelheading: #2c4a6c;
  --supclr: #ee4166;
  --imgbtn: #d1cfd8;
  --btnprar: #d6d6d6;
  --placeholderClr: #bfbfbf;
  --switchbg: #f0f0f0;
  --sub_plan: #ffffff;
  --orice_badge_Clr: #404041;
  --btnDis: #f7f8fa;
  --yellow: #ffb50f;
  --plan_header: #e0ecfb;
  --media_dis_btn: #9f9f9f;
  --cardNo: #c7ccd8;
  --cardBg: #f8f9fb;
  --tostrRed:#bd362f;
  --tostrBoder:#2c4a6c;
  --bgTostr:white;
--tostrWarn:#030303;

}
